/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Alexandria';
    src: url('/fonts/Alexandria-Black.woff2') format('woff2'),
         url('/fonts/Alexandria-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('/fonts/Alexandria-Bold.woff2') format('woff2'),
         url('/fonts/Alexandria-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('/fonts/Alexandria-ExtraBold.woff2') format('woff2'),
         url('/fonts/Alexandria-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('/fonts/Alexandria-ExtraLight.woff2') format('woff2'),
         url('/fonts/Alexandria-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('/fonts/Alexandria-Light.woff2') format('woff2'),
         url('/fonts/Alexandria-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('/fonts/Alexandria-Medium.woff2') format('woff2'),
         url('/fonts/Alexandria-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('/fonts/Alexandria-Regular.woff2') format('woff2'),
         url('/fonts/Alexandria-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('/fonts/Alexandria-SemiBold.woff2') format('woff2'),
         url('/fonts/Alexandria-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('/fonts/Alexandria-Thin.woff2') format('woff2'),
         url('/fonts/Alexandria-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Kablammo';
    src: url('/fonts/Kablammo-Regular.woff2') format('woff2'),
         url('/fonts/Kablammo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Frick";
  font-style: display;
  font-display: swap;
  src: url("/fonts/Frick0.3-Regular.woff2") format("truetype");
  font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f2f2f2;
    --text: #000000;
  }
  
  .dark {
    --background: #1a1a1a;
    --text: #f2f2f2;
  }
  
  body {
    font-family: 'Alexandria', sans-serif;
    background-color: var(--background);
    color: var(--text);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}
.video-bg {
  
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  image-rendering: pixelated;
  z-index: -1;
  top: 0;
  left: 0;
}
.button {
  outline: none!important;
  transition: all 0.05s;
}

.frick {
  font-family: 'Frick', sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Frick', sans-serif;
}
.button:active {
  transform: translateY(4px);
  border-bottom-width: 4px;
  outline: none;
}
 .blur-and-scale {
  filter: url(#blur-and-scale);
 }