---
import Layout from '@/layouts/BlogPost.astro';
import AboutComponent from '@/components/About.astro';
import { FaUser } from "react-icons/fa6";

const tags = ['personal', 'bio', 'interests', 'background'];
const description = `
  <p class="text-left">
    Learn more about me, my background, interests, and what drives me beyond my professional work.
  </p>
`;
---

<Layout
	tags={tags}
	title="About Me"
	description={description}
	pubDate={new Date()}
	heroImage="/src/assets/manuel.png"
>
	<AboutComponent />
</Layout>
