---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Hero from "@/components/Hero.astro";
import Picture from "@/components/Picture.astro";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}",
);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="pt-16">
    <Hero />
    <!-- <WhatIDo /> -->
  </div>
</BaseLayout>
