---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Hero from "@/components/Hero.astro";
import Picture from "@/components/Picture.astro";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}",
);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="pt-16">
    <Hero />
    <!-- <WhatIDo /> -->
  </div>
  <div
    class="md:w-1/2 sm:w-1/5 object-contain flex items-center justify-center p-10 group animate-fade-in"
  >
  </div>
</BaseLayout>
