---
import Layout from '@/layouts/BlogPost.astro';
import WhatIDoComponent from '@/components/WhatIDo.astro';
import { FaBriefcase } from "react-icons/fa6";

const tags = ['work', 'skills', 'projects', 'professional'];
const description = `
  <p class="text-left">
    Explore my professional work, skills, and personal projects.
  </p>
`;
---

<Layout
	tags={tags}
	title="What I Do"
	description={description}
	pubDate={new Date()}
	heroImage="/src/assets/Eleven.png"
>
	<WhatIDoComponent />
</Layout>
