---
import Layout from '@/layouts/BlogPost.astro';
import VideoBackground from '@/components/VideoBackground.astro';
import WhatIDoComponent from '@/components/WhatIDo.astro';

const tags = ['work', 'skills', 'projects', 'professional'];
const description = `
  <p class="text-left">
    Explore my professional work, skills, and personal projects.
  </p>
`;
---

<VideoBackground />

<Layout
	tags={tags}
	icon="💼"
	title="What I Do"
	description={description}
	pubDate={new Date()}
	heroImage="/src/assets/manuel.png"
>
	<WhatIDoComponent />
</Layout> 